<style>
  @media only screen and (max-width: 767px) {
    .td-block {
        display: block;
        width: 100%;
        border: none;
    }
  }
</style>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <table>
      <tr>
        <td class="visible td-block" style="border: none;">
          <img class="site-favicon" src="/assets/images/bmbf.png" onerror="this.style.display='none'" style="min-width: 120px;" width="150" height="75">
        </td>
        <td class="visible td-block" style="border: none;">
          <p>This project is funded by the Medical Informatics Initiative under the grant numbers 01ZZ2316A-O.</p>
        </td>
      </tr>
    </table>
    <div class="site-footer-inner">
        {%- assign currentYear = 'now' | date: "%Y" -%}
        {%- assign copyright = site.copyright
            | replace: '{currentYear}', currentYear
            | replace: '{author}', site.author
            | replace: '(c)', '&copy;'
            | replace: '(p)', '℗'
            | replace: '(cleft)', '<span class="copyleft">&copy;</span>'
        -%}
      <div>{{ copyright }}</div>
      <div>
        <a href="{{ "/imprint.html" | relative_url }}">Imprint</a> |
        <a href="{{ "/privacy-policy.html" | relative_url }}">Privacy policy</a>
      </div>      
    </div>
  </div>
</footer>
